.modalBody {
    background-color: var(--modal-button-color);

    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;

}

.modalBody button {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--title-color);
    background-color: var(--modal-button-color);
    
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;

    cursor: pointer;
    
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: medium;
}

.modalBody button:hover{
    background-color: var(--modal-button-color2);
}

.modalContent {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;
    
}

.info p {
    margin-top: 1rem;
}